@page "/contact"
<section class="test-section pt-200">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                test
            </div>
        </div>
    </div>
</section>

@code {
}