.carousel-inner {
  padding: 1em;
}


.carousel-control-prev {
  background-color: #e1e1e1;
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  border:none;
  margin-left: -170px;
}

.carousel-control-next {
  background-color: #e1e1e1;
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  border:none;
  margin-right: -50px;
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
